<h2><%= @house.title %> <%= link_to "(edit)", edit_house_character_path(@house.character, @house)  %> </h2>
<h3>Character: <%= @house.character.name %></h3>

House: <%= @house.character %></br>

<h4> controls src="<%= @house.photo_url %>"></h4>
